html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

.flag {
    width: 120px;
    height: 80px;
    border: 1px solid #e0e0e0;
    margin-right: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

.austria {
    background-image: 
        linear-gradient(
            #C8102E 33%, 
            #FFFFFF 33% 67%, 
            #C8102E 67%
        );
}

.belgium {
    background-image: 
        linear-gradient(
            90deg,
            #000000 33%,
            #FDDA24 33% 67%,
            #EF3340 67%
        );
}

.monaco {
    background-image: 
        linear-gradient(
            red 50%, 
            white 50%
        );
}

.nepal {
    border: .3em solid #003893;
    background-image: 
        linear-gradient(
            red 50%, 
            white 50%
        );
}
.nepal::after {
    content: 'wip';
}

.qatar {
    /* background:  */
        /* linear-gradient(
            90deg,
            #FFFFFF 35%,
            transparent 35% 45%,
            #8A1538 45%
        ), */
    background: 
        linear-gradient(225deg, #8A1538 10px, transparent 0), 
        linear-gradient(-45deg, #8A1538 10px, transparent 0);
    background-repeat: repeat-y;
    background-size: 40px 10px;
    
}

.switzerland {
    background: 
        linear-gradient(
            red 20%,
            transparent 20% 80%, 
            red 80%
        ),
        linear-gradient(
            90deg,
            red 30%,
            transparent 30% 70%, 
            red 70%
        ),
        linear-gradient(
            transparent 41%,
            white 41% 59%,
            transparent 59%
        ),
        linear-gradient(
            90deg,
            transparent 43%,
            white 43% 57%,
            transparent 57%
        ),
        linear-gradient(
            red, red
        )
}


/******** Helper Styles *************/
/* .star {
    width:120px;
    height: 120px;
    background-color: #FDDA24;
    border: 1px solid black;
    background:
        linear-gradient(
            63deg,
            transparent 55px,
            red 55px
        ),
        linear-gradient(
            63deg,
            transparent 55px,
            red 55px
        );
    background-size: 60px;
    background-repeat: repeat-x;
} */
